.place__image {
  height: 320px;
}

@media screen and (min-width: 768px) {
  .place__image {
    height: 340px;
    align-self: flex-start;
    grid-area: image;
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    height: 460px;
  }
}
