.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0 2.75rem;
}

@media screen and (min-width: 544px) {
  .header {
    padding: 2.125rem 0 3.4375rem;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 2.125rem 0 5.75rem;
  }
}
