.place__paragraph {
  width: 90%;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  display: flex;
  row-gap: 0;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    width: 100%;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 1.6112;
  }
}
