.lead__image {
  height: 200px;
  width: 100%;
  background-image: url(/images/lead-paisaje.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 321px) {
  .lead__image {
    height: 230px;
  }
}

@media screen and (min-width: 370px) {
  .lead__image {
    height: 300px;
  }
}

@media screen and (min-width: 480px) {
  .lead__image {
    height: 400px;
  }
}

@media screen and (min-width: 630px) {
  .lead__image {
    height: 420px;
  }
}

@media screen and (min-width: 670px) {
  .lead__image {
    height: 440px;
  }
}

@media screen and (min-width: 690px) {
  .lead__image {
    height: 450px;
  }
}

@media screen and (min-width: 768px) {
  .lead__image {
    height: 480px;
  }
}

@media screen and (min-width: 780px) {
  .lead__image {
    height: 500px;
  }
}

@media screen and (min-width: 800px) {
  .lead__image {
    height: 520px;
  }
}

@media screen and (min-width: 840px) {
  .lead__image {
    height: 540px;
  }
}

@media screen and (min-width: 880px) {
  .lead__image {
    height: 560px;
  }
}

@media screen and (min-width: 940px) {
  .lead__image {
    height: 580px;
  }
}

@media screen and (min-width: 960px) {
  .lead__image {
    height: 590px;
  }
}

@media screen and (min-width: 980px) {
  .lead__image {
    height: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    height: 615px;
  }
}
