.intro__text_author-cite {
  font-size: 1.5rem;
  line-height: 1.417;
  font-weight: 400;
  text-align: right;
  position: relative;
}

@media screen and (min-width: 544px) {
  .intro__text_author-cite {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 744px) and (max-width: 1048px) {
  .intro__text_author-cite {
    top: -22px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__text_author-cite {
    width: 70.796460176991150442477876106195%;
  }
}

@media screen and (min-width: 1049px) and (max-width: 1145px) {
  .intro__text_author-cite {
    top: -3px;
  }
}
