.place {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    width: 93.75%;
    display: grid;
    align-items: start;
    grid-gap: 24px 28px;
    grid-template-columns: 340px auto;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "header website"
      "image text"
      "button .";
  }
}

@media screen and (min-width: 768px) and (max-width: 827px) {
  .place:nth-of-type(1) {
    padding-bottom: 7rem;
  }
  .place:nth-of-type(2) {
    padding-bottom: 8.5rem;
    align-items: center;
  }
  .place:nth-of-type(3) {
    padding-bottom: 11rem;
  }
  .place:nth-of-type(4) {
    padding-bottom: 22rem;
  }
}

@media screen and (min-width: 828px) and (max-width: 860px) {
  .place:nth-of-type(4) {
    padding-bottom: 18rem;
  }
}

@media screen and (min-width: 861px) and (max-width: 884px) {
  .place:nth-of-type(4) {
    padding-bottom: 16rem;
  }
}

@media screen and (min-width: 885px) and (max-width: 1000px) {
  .place:nth-of-type(4) {
    padding-bottom: 14rem;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1013px) {
  .place:nth-of-type(4) {
    padding-bottom: 10rem;
  }
}

@media screen and (min-width: 1049px) and (max-width: 1279px) {
  .place {
    max-width: 984px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-gap: 48px 40px;
    max-width: 76.875%;
    grid-template-columns: 460px auto;
  }
}
