.place__website {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media screen and (min-width: 768px) {
  .place__website {
    width: 83.81%;
    grid-area: website;
  }
}

@media screen and (min-width: 1280px) {
  .place__website {
    width: 94.214876033057851239669421487603%;
    align-self: flex-end;
  }
}
