.button {
  box-sizing: border-box;
  max-width: 355px;
  width: 90%;
  padding: 0.8125rem 1.25rem;
  border-radius: 4px;
  background: #0278fe;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #0063d2;
}

@media screen and (min-width: 768px) {
  .button {
    grid-area: button;
    width: 104.411764705882352941176470588245%;
    max-width: 355px;
  }
}
